<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Комп-U-тер </title>
    <link rel="shortcut icon" href="/static/css/favicon.ico"
          type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="header">
        <img class="logo" src="/static/img/emblem.png" alt="Логотип"
             height="120">
        <div class="menu">
            <div><p class="menu1"><a href="/"> Главная </a></p></div>
            <div><p class="menu1"><a href="/catalog/"> Каталог </a></p></div>
            <div><p class="menu1"><a href="/contacts/"> Контакты </a></p></div>
        </div>
	</div>

    <div class="container">
        <h2 class="page"> Каталог </h2>

        <div class="catalog">
            <a href="/cpu/"> Процессоры </a>
            <br><br>
            <a href="#"> Материнские платы </a>
            <br><br>
            <a href="#"> Модули памяти </a>
            <br><br>
            <a href="/vga/"> Видеокарты </a>
            <br><br>
        </div>

        <div class="Table">
            <table class="cwdtable" cellspacing="0" cellpadding="1" border="1">
                <tr><th colspan="2"> Группы товаров </th></tr>
                <tr><th> Комплектующие для ПК </th><td> Процессоры </td></tr>
                <tr><td> </td><td> Материнские платы </td></tr>
                <tr><td> </td><td> Модули памяти </td></tr>
                <tr><td> </td><td> Видеокарты </td></tr>
                <tr><th> Расходные материалы </th><td> Картриджи </td></tr>
                <tr><td> </td><td> Тонеры </td></tr>
            </table>
        </div>

    </div>

    <div class="footer">
		<div class="footer_text">
            Copyright &copy; 2019 <a href="/"> Комп<b>-U-</b>тер </a>
        </div>
	</div>
</body>

</html>
