<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Комп-U-тер </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="header">
        <img class="logo" src="/static/img/emblem.png" alt="Логотип"
             height="120">
        <div class="menu">
            <div><p class="menu1"><a href="/"> Главная </a></p></div>
            <div><p class="menu1"><a href="/catalog/"> Каталог </a></p></div>
            <div><p class="menu1"><a href="/contacts/"> Контакты </a></p></div>
        </div>
	</div>

    <div class="container">
        <h2 class="page"> Процессоры </h2>

        <div id="cpu">
            <a href="#" class="buy"> Купить </a><br>
            <a href="/static/img/ryzen3_big.jpg" target="_blank" class="img">
                <img src="/static/img/amd_ryzen3_2200g.jpg"
                     alt="AMD Ryzen3 2200G">
            </a>
            <h4 class="description"> Описание товара: </h4>
            <p class="description_low"> Процессор AMD Ryzen 3 2200G, SocketAM4 BOX,
                ядер — 4, потоков —
                4, частота 3.5 ГГц и 3.7 ГГц в режиме Turbo
            </p>
            <br><br>
            <h4 class="description"> Подробные характеристики: </h4>
            <p class="description_full"> Ядро:               Raven Ridge <br>
                Гнездо процессора:  SocketAM4 <br>
                Количество ядер:    4 <br>
                Количество потоков: 4 <br>
                Частота:        	3.5 ГГц и 3.7 ГГц в режиме Turbo <br>
                L1 кэш:         	4х 96 КБ <br>
                L2 кэш:         	4х 512 КБ <br>
                L3 кэш:         	4 Мб <br>
                Тех процесс:    	14 нм <br>
                Множитель:          разблокированный <br>
                Тепловыделение: 	65 Вт <br>
                Кулер в комплекте:	есть <br>
                Тип поставки:   	BOX <br>
                Тип памяти:     	DDR4 <br>
                Частота памяти: 	2933 МГц <br>
                Каналов памяти: 	2 <br>
                PCI Express:        3.0 <br>
                Встроенная графика: есть <br>
                Графическое ядро:	Radeon Vega <br>
            </p>
                <br><br>
            <a href="#" class="buy"> Купить </a><br>
            <a href="/static/img/i3_7100_big.jpg" target="_blank" class="img">
                <img src="/static/img/core_i3_7100.jpg" alt="INTEL Core i3 7100"> </a>
            <h4 class="description"> Описание товара: </h4>
            <p class="description_low"> Процессор INTEL Core i3 7100, LGA 1151 BOX, ядер — 2, потоков —
                4, частота 3.9 ГГц
            </p>
            <br><br>
            <h4 class="description"> Подробные характеристики: </h4>
            <p class="description_full" > Ядро:           	Kaby Lake <br>
                Гнездо процессора:	LGA 1151 <br>
                Количество ядер:    2 <br>
                Количество потоков:	4 <br>
                Частота:        	3.9 ГГц <br>
                L1 кэш:         	2х 64 КБ <br>
                L2 кэш:         	2х 256 КБ <br>
                L3 кэш:         	3 Мб <br>
                Тех процесс:    	14 нм <br>
                Множитель:      	заблокированный <br>
                Тепловыделение: 	51 Вт <br>
                Кулер в комплекте:	есть <br>
                Тип поставки:   	BOX <br>
                Тип памяти:     	DDR4/ DDR3L <br>
                Частотa памяти: 	1333/1600/2133/2400 МГц <br>
                Каналов памяти: 	2 <br>
                PCI Express:        3.0 <br>
                Встроенная графика: есть <br>
                Графическое ядро:	Intel HD Graphics 630 <br>
            </p>
        </div>

    </div>

    <div class="footer">
		<div class="footer_text">
            Copyright &copy; 2019 <a href="/"> Комп<b>-U-</b>тер </a>
        </div>
	</div>
</body>

</html>
