<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Комп-U-тер </title>
    <link rel="shortcut icon" href="/static/css/favicon.ico"
          type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="header">
        <img class="logo" src="/static/img/emblem.png" alt="Логотип"
             height="120">
        <div class="menu">
            <div><p class="menu1"><a href="/"> Главная </a></p></div>
            <div><p class="menu1"><a href="/catalog/"> Каталог </a></p></div>
            <div><p class="menu1"><a href="/contacts/"> Контакты </a></p></div>
        </div>
	</div>

    <div class="container">
        <h1 class="page"> Приветствуем Вас в интернет-магазине Комп<b>-U-</b>тер </h1>
    </div>

    <div class="footer">
		<div class="footer_text">
            Copyright &copy; 2019 <a href="/"> Комп<b>-U-</b>тер </a>
        </div>
	</div>
</body>

</html>
