<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Комп-U-тер </title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
    <div class="header">
        <img class="logo" src="/static/img/emblem.png" alt="Логотип" height="120">
        <div class="menu">
            <div><p class="menu1"><a href="/"> Главная </a></p></div>
            <div><p class="menu1"><a href="/catalog/"> Каталог </a></p></div>
            <div><p class="menu1"><a href="/contacts/"> Контакты </a></p></div>
        </div>
	</div>

    <div class="container">
        <h2 class="page"> Видеокарты </h2>

        <div id="vga">
            <a href="#" class="buy"> Купить </a><br>
            <a href="/static/img/rtx2070_big.jpg" target="_blank" class="img">
                <img src="/static/img/msi_rtx2070.jpg"
                     alt="GeForce MSI RTX 2070 Gaming 8G" height="70"> </a>
            <h4 class="description"> Описание товара: </h4>
            <p class="description_low"> Видеокарта MSI nVidia GeForce RTX 2070, RTX 2070 GAMING 8G,
                8Гб, GDDR6
            </p>
            <br><br>
            <h4 class="description"> Подробные характеристики: </h4>
            <p class="description_full"> Частота графического процессора:	1410 МГц (1620 МГц, в режиме
                Boost) <br>
                Техпроцесс:                     	12 нм <br>
                Объем видеопамяти:              	8 Гб <br>
                Тип видеопамяти:                	GDDR6 <br>
                Частота видеопамяти:            	14000 МГц <br>
                Разрядность шины видеопамяти:   	256 bit <br>
                Максимальное разрешение:        	7680 х 4320 <br>
                Поддержка технологий:           	DirectX 12/OpenGL 4.5 <br>
                Разъемов HDMI:                      1 <br>
                Разъемов Display Port:          	3 <br>
                Разъемов USB (Type-C):          	1 <br>
                Разъемы дополнительного питания:	6+8 pin <br>
                Рекомендуемая мощность БП:      	550 Вт <br>
                Максимальное энергопотребление: 	175 Вт <br>
                Длина видеокарты:               	307 мм <br>
            </p>
            <br><br>
            <a href="#" class="buy"> Купить </a><br>
            <a href="/static/img/rx590_big.jpg" target="_blank" class="img">
                <img src="/static/img/asus_rx590.jpg" alt="AMD ASUS RX 590 8G"
                     height="70"> </a>
            <h4 class="description"> Описание товара: </h4>
            <p class="description_low"> Видеокарта ASUS AMD Radeon RX 590, ROG-STRIX-RX590-8G-GAMING,
                8Гб, GDDR5
            </p>
            <br><br>
            <h4 class="description"> Подробные характеристики: </h4>
            <p class="description_full"> Частота графического процессора:	1545 МГц (1565 МГц, в режиме
                Boost) <br>
                Техпроцесс:                     	12 нм <br>
                Объем видеопамяти:              	8 Гб <br>
                Тип видеопамяти:                	GDDR5 <br>
                Частота видеопамяти:        	    8000 МГц <br>
                Разрядность шины видеопамяти:   	256 bit <br>
                Максимальное разрешение:        	7680 х 4320 <br>
                Поддержка технологий:           	DirectX 12/OpenGL 4.5 <br>
                Разъемы DVI:                    	1 <br>
                Разъемов HDMI:                  	2 <br>
                Разъемов Display Port:          	2 <br>
                Разъемы дополнительного питания:	8 pin <br>
                Рекомендуемая мощность БП:      	500 Вт <br>
                Длина видеокарты:               	298 мм <br>
            </p>
        </div>

    </div>

    <div class="footer">
		<div class="footer_text">
            Copyright &copy; 2019 <a href="/"> Комп<b>-U-</b>тер </a>
        </div>
	</div>
</body>

</html>
